---
---
@charset "utf-8";
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base"
;
body {
    font-family:  $familia-de-letra-base;
    font-size: $tamano-de-letra-base;
    color: $color_de_texto;
    padding-top: 42px;
    background-color: #020202;

}

.navbar-fixed-right {
    position: fixed;
    top: 0;
    z-index: 1030;
    right: 0;
    width: 190px;

}
.navbar-nav .nav-item+.nav-item {
    margin-left: 0;
}
.navbar {

    text-transform: uppercase;
    padding: 2px;
   // font-family: $familia-de-letra-base;

}
.navbar-toggler {
    border: 1px solid rgba(255,255,255,.3);
    background-color: rgba(6, 6, 6, 0.9);
}

.navbar-toggler:focus {
    outline: 0;
}
.mini-ec {
    background: url("../ivr/ec.png") no-repeat;
    display: flex;
    width: 20px;
    height: 20px;

}
.navbar-custom a {
    color: #f8f8f8;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}
#headerwrap {
	background: $fondo_imagen no-repeat center top;
	margin-top: -50px;
	padding-top:120px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}