---
---
@charset "utf-8";
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base"
;
body {
    font-family:  $familia-de-letra-base;
    font-size: $tamano-de-letra-base;
    color: $color_de_texto;
    padding-top: 51px;

}
.navbar-fixed-right {
    position: fixed;
    top: 0;
    z-index: 1030;
    left: 0;

}

.navbar {

    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: $familia-de-letra-base;
    background-color: rgba(0, 0, 0, 0.9);

}

#headerwrap {
	background: $fondo_imagen no-repeat center top;
	margin-top: -50px;
	padding-top:120px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}