---
layout: plantilla
title: Desarrollo Web NodeJS • Quito Ecuador
description: desarrollo web nodejs en quito ecuador fizzvr
---
<a id="skippy" class="sr-only sr-only-focusable" href="#proyectos">
  <div class="container">
    <span class="skiplink-text">Saltar al contenido principal.</span>
  </div>
</a>
<section id="presentacion">
  <div class="headerwrap">
<!--    <div class="container-fluid" id="header-top">
    <div class="row flex-items-xs-center">
      <h1>Desarrollo Web NodeJS</h1>
      <p>Desarrollamos sistemas basados en nodos, con tecnología NodeJS altamente escalables</p>
      <p><a href="#about">More info &#187;</a></p>
      
      <ul>
        <li data-toggle="tooltip" data-placement="left" data-title="NODEJS" class="nodejs">NodeJS</li>
        <li data-toggle="tooltip" data-placement="bottom" data-title="ANGULARJS" class="angularjs">angularjs</li>
        <li data-toggle="tooltip" data-placement="right" data-title="MONGODB" class="mongodb">MongoDB</li>
      </ul>

      <a href="#id-proyectos" class="btn btn-circle">
        <i class="fa fa-angle-double-down animated"></i>
      </a>
      
    </div>  
  </div>  -->
        </div>
    <div class="pos-f-t social hidden-xs-down">
      <div class="container-fluid">
        <ul class="nav">
         <li class="nav-item">
            <a class="nav-link" href="#"><img src="ivr/icono-email.png" alt="Email"></a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="#"><img src="ivr/icono-whatsapp.png" alt="Whatsapp"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="ivr/icono-github.png" alt="Github"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="ivr/icono-googleplus.png" alt="Google Plus"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="ivr/icono-twitter.png" alt="Twitter"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="ivr/icono-facebook.png" alt="Facebook"></a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="#"><img src="ivr/icono-rss.png" alt="Rss"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="barra">
      <div class="container">
        <div class="row flex-items-xs-middle">
          <div class="col-xs">
            <a href="" class="float-xs-right btn btn-outline-primary"><i class="fa fa-play"></i></a>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section id="servicios">
    <div class="container">
      <div class="row caja rounded primera">
        <div class="col-xs text-justify">
          <h1 id="hache1">Nosotros</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus officiis officia totam, quasi maxime voluptates exercitationem ducimus tempora quo possimus provident. Mollitia nam at ullam recusandae quam, enim sed in!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quibusdam non expedita deserunt culpa unde illo eligendi, blanditiis, id officia at, dolor cum similique possimus ducimus saepe vitae perferendis dolorum.</p>
        </div> 
      </div>
    </div>
  </section>

  <section id="proyectos">
    <div class="container">
      <div class="row caja rounded">
        <ul class="grid effect-2" id="grid">
          <li><a href="singleproject.html"><img src="ivr/proyectos/gallery-img-495-full.jpg"></a></li>
          <li><a href="singleproject.html"><img src="ivr/proyectos/gallery-img-496-full.jpg"></a></li>
          <li><a href="singleproject.html"><img src="ivr/proyectos/gallery-img-498-full.jpg"></a></li>
          <li><a href="singleproject.html"><img src="ivr/proyectos/gallery-img-499-full.jpg"></a></li>

        </ul>
      </div>
    </div>
  </section>

  <section id="blog">
    <div class="container">
      <div class="row caja rounded">
        <div class="col-xs">
          {% for post in paginator.posts %}
          <article class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl }}">
              <h2 class="post-title">{{ post.title }}</h2>

              {% if post.subtitle %}
              <h3 class="post-subtitle">
                {{ post.subtitle }}
              </h3>
              {% endif %}  
            </a>

            <p class="post-meta">
              Posted on {{ post.date | date: "%B %-d, %Y" }}
            </p>

            <div class="post-entry">
              {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
              <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
            </div>

          </article>
          {% endfor %}
          {% if paginator.total_pages > 1 %}
          <ul class="pager main-pager">
            {% if paginator.previous_page %}
            <li class="previous">
              <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; +++++++</a>
            </li>
            {% endif %}
            {% if paginator.next_page %}
            <li class="next">
              <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">+++++++ &rarr;</a>
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <section id="info">
    <div class="container">
      <div class="row caja rounded">
        <div class="col-xs">
          <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt iusto a quasi rem repellat facilis, aperiam. Quidem quaerat magnam dolorem, accusantium repudiandae expedita quia, consequatur nemo pariatur architecto consectetur non.</span>
            <span>Asperiores, excepturi obcaecati vel quam hic voluptatem maiores id rem. Minus iure vel necessitatibus quasi quae reiciendis aperiam illo. Ipsam cum quaerat voluptate, ullam iusto similique veritatis, velit dolore temporibus.</span>
            <span>Suscipit dicta praesentium molestiae consequatur sit vero, iusto quisquam inventore animi. Quae labore temporibus veritatis excepturi, dolores sequi velit. Ipsam minima expedita nostrum quisquam minus repellendus reprehenderit quod, eum eos.</span>
            <span>Quibusdam esse rerum dolorem vero, quos consectetur asperiores eos totam nobis nostrum laboriosam, dignissimos placeat praesentium tempora laborum. Debitis hic, id dolores ducimus pariatur facilis adipisci unde minima ipsa molestiae.</span>
            <span>Cumque totam accusamus molestiae a neque. Eos similique rerum accusamus totam recusandae porro, libero quaerat fugit officia consectetur at consequuntur, vitae nihil qui sapiente, optio consequatur cum culpa minus id.</span>
            <span>Magnam dolorem quisquam, laboriosam, consectetur fugit alias unde repellendus est illum labore atque, et necessitatibus. Rerum temporibus, dolor perspiciatis est eaque nisi id dolorum quibusdam cumque iure a, minus earum!</span>
            <span>Ullam unde tempora consequatur, earum id reiciendis magnam soluta praesentium delectus sunt assumenda qui quidem veritatis hic dolorem eligendi. Vel similique esse inventore, culpa sed, saepe fuga dolore repudiandae ipsa.</span></p>
          </div>
        </div>
      </div>
    </section>


    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg text-xs-center">
            <p>Copyright &copy; Company 2013</p>
          </div>
          <div class="col-sm-6">
            &copy; 2013 <a target="_blank" href="#" title="{{ site.description }}">{{ site.title }}</a>. Todos los derechos reservados.
          </div>
          <div class="col-sm-6">
            <img class="pull-right" src="ivr/ec2.png" alt="ShapeBootstrap" title="ShapeBootstrap">
          </div>
        </div>
      </div>
    </footer>
