<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if page.title %} | {{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta itemprop="name" content="FizzVR">
    <meta itemprop="description" content="Programación Web NodeJS Quito Ecuador">
    <meta itemprop="image" content="https://s.gravatar.com/avatar/da8211973de81d27f756bb3efea650ad?s=100">
    <meta itemprop="currenciesAccepted" content="USD,PEI,XAG,XAU">
    <meta itemprop="openingHours" content="Mo-Fr 13:00-18:00">
    <meta itemprop="paymentAccepted" content="Dinero,Tarjeta de Crédito,Transferencia">
    <link href="http://plus.google.com/+FizzVRgithubio" rel="publisher" />
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  {% if layout.css %}
    {% for css in layout.css %}
    <link rel="stylesheet" href="{{ css | prepend: site.baseurl | replace: '//', '/' }}">
    {% endfor %}
  {% endif %}

  {% if layout.googlefonts %}
    {% for font in layout.googlefonts %}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ font }}">
    {% endfor %}
  {% endif %}
    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
</head>
