<nav class="navbar navbar-custom navbar-fixed-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".colapsar-menu">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="#page-top">
        <span class="mini-ec" aria-hidden="true"></span>
        <span class="light">Desarrollo Web</span>NodeJS
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-right colapsar-menu">
      <ul class="nav navbar-nav">
        <li class="hidden"><a href="#page-top"></a></li>
        <li class="page-scroll"><a href="#id-proyectos">Proyectos</a></li>
        <li class="page-scroll"><a href="#id-desarrollando">Desarrollando</a></li>
        <li class="page-scroll"><a href="#id-contacto"><span class="fa fa-signal"></span></a></li>
        <li class="followers"><a aria-label="Sìgueme @fizzvr en GitHub" data-count-aria-label="# seguidores en GitHub" data-count-api="/users/fizzvr#followers" data-count-href="/fizzvr/followers" data-style="mega" href="https://github.com/fizzvr" class="github-button">@fizzvr</a></li>
      </ul>
    </div>
  </div>
</nav>
<!--fin nav-->
