
  <a href="#proyectos" class="sr-only sr-only-focusable">Contenido Principal..</a>
<header>
  <nav class="navbar navbar-custom fixed-top navbar-toggleable-md" role="navigation">
    <div class="container page-scroll">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".colapsar-menu" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="#page-top"><span class="mini-ec" aria-hidden="true"></span></a>

      <div class="collapse navbar-collapse colapsar-menu">
        <ul class="navbar-nav justify-content-center mr-auto">
          <li class="nav-item page-scroll">
            <a class="nav-link" href="#nosotros">Nosotros</a>
          </li>
          <li class="nav-item page-scroll">
            <a class="nav-link" href="#">Servicios</a>
          </li>
          <li hidden class="invisible nav-item page-scroll">
            <a class="nav-link" href="#">Proyectos</a>
          </li> 
          <li class="nav-item page-scroll">
            <a class="nav-link" href="#">Contacto</a>
          </li>
      </div>
      <ul class="nav justify-content-center social hidden-sm-down">
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="ivr/icono-email.png" alt="Email"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="ivr/icono-whatsapp.png" alt="Whatsapp"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="ivr/icono-github.png" alt="Github"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="ivr/icono-googleplus.png" alt="Google Plus"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="ivr/icono-twitter.png" alt="Twitter"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="ivr/icono-facebook.png" alt="Facebook"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="ivr/icono-rss.png" alt="Rss"></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
