<header>
  <a href="#proyectos" class="sr-only sr-only-focusable">Contenido Principal..</a>
  <nav class="navbar navbar-custom fixed-top navbar-toggleable-md" role="navigation">
    <div class="container page-scroll">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".colapsar-menu" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="#page-top"><span class="mini-ec" aria-hidden="true"></span></a>

      <div class="collapse navbar-collapse colapsar-menu">
        <ul class="navbar-nav">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li class="nav-item page-scroll">
            <a class="nav-link" href="#nosotros">Nosotros</a>
          </li>
          <li class="nav-item page-scroll">
            <a class="nav-link" href="#">Servicios</a>
          </li>
          <li class="nav-item page-scroll">
            <a class="nav-link" href="#">Proyectos</a>
          </li>
          <li class="nav-item page-scroll">
            <a class="nav-link" href="#">Contacto</a>
          </li>
      </div>
    </div>
  </nav>
</header>
