<header class="navbar navbar-custom fixed-top navbar-toggleable-md">
  <nav class="page-scroll">
    <div class="d-flex justify-content-between">
      <a class="navbar-brand" href="#page-top"><span class="mini-ec" aria-hidden="true"></span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#colapsar-menu" aria-controls="colapsar-menu" aria-expanded="false" aria-label="Toggle navegación">
        <i class="fa fa-bars"></i>
      </button>
    </div>
      <div class="collapse navbar-collapse" id="colapsar-menu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item page-scroll" >
            <a class="nav-link" href="#nosotros">Nosotros</a>
          </li>
          <li class="nav-item page-scroll">
            <a class="nav-link" href="#">Servicios</a>
          </li>
          <li hidden class="invisible nav-item page-scroll">
            <a class="nav-link" href="#">Proyectos</a>
          </li> 
          <li class="nav-item page-scroll">
            <a class="nav-link" href="#">Contacto &rarr;</a>
          </li>
      </div>
      <ul class="nav justify-content-center social hidden-sm-down">
        <li class="nav-item" data-toggle="tooltip" data-placement="bottom" data-title="Envianos un Correo">
          <a class="nav-link" href="&#0109;&#97;&#105;&#108;&#116;&#111;&#58;&#102;i&#00122;&#122;&#118;&#114;&#0064;&#103;&#00109;&#97;&#00105;&#00108;&#0046;&#0099;&#00111;&#109;" target="_blank"><img src="ivr/icono-email.png" alt="Email"></a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="bottom" data-title="Llamanos +593 984361523">
          <a class="nav-link" href="tel:+593984361523" target="_blank"><img src="ivr/icono-whatsapp.png" alt="WhatsApp"></a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="bottom" data-title="Siguenos en Github">
          <a class="nav-link" href="https://github.com/DesarrolloWebNodeJS" target="_blank"><img src="ivr/icono-github.png" alt="Github"></a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="bottom" data-title="Siguenos en Google Plus">
          <a class="nav-link" href="http://plus.google.com/+FizzVRgithubio" target="_blank"><img src="ivr/icono-googleplus.png" alt="Google Plus"></a>
        </li>
        <li hidden class="nav-item" data-toggle="tooltip" data-placement="bottom" data-title="Siguenos en Twiter">
          <a class="nav-link" href="#" target="_blank"><img src="ivr/icono-twitter.png" alt="Twitter"></a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="bottom" data-title="Siguenos en Facebook">
          <a class="nav-link" href="https://www.facebook.com/desarrollowebnodejs/" target="_blank"><img src="ivr/icono-facebook.png" alt="Facebook"></a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="bottom" data-title="Suscribete al canal de Noticias RSS">
          <a class="nav-link" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" target="_blank"><img src="ivr/icono-rss.png" alt="Rss"></a>
        </li>
      </ul>
    
  </nav>
</header>
