body {
    font-family:  $familia-de-letra-base;
    font-size: $tamano-de-letra-base;
    color: $color-de-texto;
    background: $color-de-fondo;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 51px;

}
html {
    width: 100%;
    height: 100%;
}
