// html {
//   position: relative;
//   min-height: 100%;
// }
// body {
//   margin-bottom: 60px;
// }
body {
    font-family:  $familia_de_letra_base;
    color: $color_de_texto;
    background: $color_de_fondo;
}
#particulas {
    position: fixed;
    z-index: -1;
}
.caja {
  background-color: rgba(6, 6, 6, 0.9);
  margin-bottom: 20px;
  padding: 30px 15px;
  //border: 0.5px dotted #2CA0C7;
  position: relative;   
  opacity: 0.9; 
} 
.caja.primera {
  margin-top: -25px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    font-family: $familia_intro;
    letter-spacing: 5px;
    font-weight: 700;
}