html, body {
  height: 100vh;
}

@include media-breakpoint-up(sm) {
  body {
    font-size: 16px;
    //background: $color_de_fondo3;
    background: $color_de_fondo3;
    background-image: -webkit-linear-gradient(90deg, $color_de_fondo3, #fff);
    background-image: -o-linear-gradient(90deg, $color_de_fondo3, #fff);
    background-image: linear-gradient(90deg, $color_de_fondo3, #fff);

  }
  .intro-text {
    font-size: 12px;
  }
}

@include media-breakpoint-up(md) {
  body {
    font-size: 20px;
    //background: red;
    background: $color_de_fondo2;
    background-image: -webkit-linear-gradient(90deg, $color_de_fondo2, #fff);
    background-image: -o-linear-gradient(90deg, $color_de_fondo2, #fff);
    background-image: linear-gradient(90deg, $color_de_fondo2, #fff);
  }
  .intro-text {
    font-size: 16px;
  }
}

@include media-breakpoint-up(lg) {
  body {
    font-size: 28px;
    //background: #f8f8f8;
    //background: url("../ivr/dark_Tire.png") fixed;
    background: rgba(6, 6, 6, 0.9);
    background-image: -webkit-linear-gradient(90deg, #000, #fff);
    background-image: -o-linear-gradient(90deg, #000, #fff);
    background-image: linear-gradient(90deg, #000, #fff);
    //margin: 64px 0;
  }
  .intro-text {
    font-size: 18px;
  }
}
body {
    font-family:  $familia_de_letra_base;
    color: $color_de_texto;
  //  background: $color_de_fondo;
//    font-size: 1rem;
//  line-height: 1.5;
//  color: #373a3c;
//  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    font-family: $familia_intro_text;
    letter-spacing: 5px;
    font-weight: 700;
}
.fa {
  color: #f8f8f8;
}
#particulas {
    position: fixed;
    z-index: -1;
}
.caja {
  background-color: rgba(6, 6, 6, 0.9);
  margin-bottom: 20px;
  padding: 30px 15px;
  //border: 0.5px dotted #2CA0C7;
  position: relative;   
  opacity: 0.9; 
} 
.caja.primera {
  margin-top: 80px;
}