.navbar-toggler-right {
  right: 3rem;
}
.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: $familia_intro_text;
    font-size: 12px;
    font-weight: bold;
    background-color: rgba(6, 6, 6, 0.9);
    letter-spacing: 5px;
}
.navbar-custom a {
    color: #f8f8f8;
    border-radius: .25rem;
}
.navbar-custom .navbar-nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li.active {
    outline: 0;
    border-radius: .25rem;
    background-color: rgba(255,255,255,.2);
    opacity: 1;
}
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}
/* .colapsar-menu {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
} */

@include media-breakpoint-up(md) {
    .navbar {
        padding: 12px 0;
        border-bottom: 0;
        letter-spacing: 5px;
        background: 0 0;
        //-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
       // -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        //transition: background .5s ease-in-out,padding .5s ease-in-out;

        
    }
    .top-nav-collapse {
        padding: 0;
        background: rgba(6, 6, 6, 0.9);
    }

    .navbar-custom.top-nav-collapse {
        -webkit-transition: box-shadow .218s;
        transition: box-shadow .218s;
         -webkit-box-shadow: 0 4px 12px rgba(255,255,255,.2); 
        box-shadow: 0 4px 12px rgba(255,255,255,.2);

        border-bottom: 1px solid rgba(255,255,255,.4);
    }

}
.mini-ec {
    background: url("../ivr/ec2.png") no-repeat;
    display: flex;
    width: 35px;
    height: 35px;
}
