.pie {
	position: fixed;
	bottom: 0;
	width: 100%;
	font-family: $familia_intro_text;
	font-size: 0.6rem;
	color: #f8f8f8;
	letter-spacing: 0.5px;
  	p {
  		margin-bottom: 0;
  	}
  	.nav li a {
  		 border-radius: .25rem;
  		 webkit-transition: background .3s ease-in-out;
    	-moz-transition: background .3s ease-in-out;
    	transition: background .3s ease-in-out;
	}
}


