.pie {
	position: fixed;
	width: 100%;
	text-align: center;
	bottom: 0;
	font-family: $familia_intro_text;
	font-size: 0.6rem;
	color: #ccc;
	letter-spacing: 0.5px;
	p {
		margin-bottom: 0;
		padding-bottom: 2px;
	}
}