#presentacion h1 {
    color: #2CA0C7;
}
.intro-text {
    color: #f8f8f8;
    font-size: 18px;
    font-weight: bold;
}
.pad {
    padding: 25px 0;
}
.headerwrap {
	background: $fondo_imagen center center fixed;
	margin-top: -50px;
	padding-top: 125px;
	text-align:center;
	min-height: 750px;
	position: relative;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: .8;
    margin: 4px;
}
.pos-f-t {
    top: 4rem;
    z-index: 0;
    max-width: 0;
}
.social a {
    background: #393939;
    padding:15px 5px;
    margin: 1px;
    opacity: .5;
    border-radius: .25rem;
}
.social a:hover {opacity: 1;}
.headerwrap li
{
    background-image: url('../ivr/vr-skills.png');
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
    //display:inline-block;
    text-indent:-9999px;
}
    .headerwrap li.nodejs
    {
        background-position: 0 0;
    }
    .headerwrap li.angularjs
    {
        background-position: -64px 0;
    }
    .headerwrap li.mongodb
    {
        background-position: -128px 0;
    }
.headerwrap h1 {
    margin: 0 0 35px;
    font-family: $familia_de_letra_nav;
    letter-spacing: 5px;
    font-weight: 700;
}
.barra {
    position: absolute;
    width: 100%;
    bottom: 20px;
    //min-height: 6rem;
    //line-height: 60px; 
}
