#presentacion {
  p, h1 {
    color: #fff;
    text-shadow: rgba(127, 195, 98, 1)5px 10px 90px;
  }
}
.nipple {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(125,79,158,0.9);
}
.titulo-marca {
    //font-size: 25px;
}
.intro-text {
  font-family: $familia_intro_text;
  //color: #f8f8f8;
  // color: rgba(255, 255, 255, 0.9);
  //text-shadow: rgba(127, 195, 98, 1)5px 10px 90px;
  font-weight: bold;
  letter-spacing: 8px;
}
.pad {
    padding: 25px 0;
}
.pos-f-t {
    top: 4rem;
    z-index: 0;
    max-width: 0;
}
.social a {
     
    background: #393939;
    padding:15px 5px;
    margin: 1px;
    opacity: .5;
    border-radius: .25rem;
}
.social a:hover {
    background: transparent;
    //opacity: 1;
}
.principal li
{
    background-image: url('../ivr/vr-skills.png');
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
    //display:inline-block;
    text-indent:-9999px;
}
    .principal li.nodejs
    {
        background-position: 0 0;
    }
    .principal li.angularjs
    {
        background-position: -64px 0;
    }
    .principal li.mongodb
    {
        background-position: -128px 0;
    }