#proyectos .caja {
  background: #000;
}
.mozaique {
  overflow: hidden;
}
.thumb-block {
  position: relative;
  float: left;
  width: 25%;
  text-align: center;
  //background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #000;
}
.thumb-block .thumb-inside {
  padding: 5px 1px 2px;
  position: relative;
}
.thumb-block .thumb a {
  border: 1px solid #444;
  display: block;
  position: relative;
  overflow: hidden;
  zoom: 1;
}
.thumb-block .thumb img {
  width: 100%;
}
.thumb-block .thumb img.profile-pic {
  background: #000;
  padding: 0 12.5%;
}
.thumb-block .thumb img.video-pic {
  background: #000;
  padding: 12.5% 0;
}
.thumb-block .thumb img.hovered {
  box-sizing: content-box;
  position: absolute;
  width: 300%;
  height: 300%;
  top: 0;
  left: 0;
  margin-left: 0%;
  margin-top: 0%;
}
.thumb-block p {
  margin: 0;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.thumb-block p.metadata .bg {
  padding: 2px 4px 2px 0;
}
.thumb-block p.metadata .duration {
  font-weight: bold;
  padding: 2px 4px;
}
.thumb-block:nth-child(4n+1) {
  clear: left;
}
.thumbs-5 .thumb-block {
  width: 20%;
  clear: none;
}
.thumbs-5 .thumb-block:nth-child(5n+1) {
  clear: left;
}
