$familia_intro_text: 'Arima Madurai', cursive;
$color_de_texto:	#404040;
$color_de_fondo:	#060b0e;
$color_de_fondo2:	#FF0000;
$color_de_fondo3:	#0000FF;
$color_de_fondo4:	#FFFF00;
$fondo_imagen:	url('../ivr/lander3.jpg');
$fondo_imagenP:	url('../ivr/lander2.jpg');
$tamano-de-letra-base:   14px;
$ancho-de-letra-base: 400;
$alto-linea-base: 1.5;
$small-font-size:  $tamano-de-letra-base * 0.875;
$spacing-unit:     30px;
$brand-color:      #2a7ae2;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;