$familia_de_letra_base:	'Open Sans';
$familia_de_letra_nav:	'Lora';
$color_de_texto:	#404040;
$color_de_fondo:	#020202;
$fondo_imagen:	url('../ivr/intro-gbg.jpg') center;
$fondo_imagen2: url('../ivr/type.jpg');


$tamano-de-letra-base:   14px;
$ancho-de-letra-base: 400;
$alto-linea-base: 1.5;
$small-font-size:  $tamano-de-letra-base * 0.875;
$spacing-unit:     30px;
$brand-color:      #2a7ae2;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



