---
css:
  - "/act/bs4/bootstrap.min.css"
  - "/act/fa/css/font-awesome.min.css"
  - "/act/fs/flexslider.css"
  - "/act/pp/css/prettyPhoto.css"
  - "/cvr/vr1.min.css"
googlefonts:
  - "Lora:400,700,400italic,700italic"
  - "Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
js:
  - "/js/jquery-1.11.2.min.js"
  - "/js/bootstrap.min.js"
  - "/js/main.js"
---

<!doctype html>
<html lang="es" itemscope itemtype="http://schema.org/LocalBusiness">
{% include head.html %}
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        {{ content }}
        {% include footer.html %}


    </body>
</html>
