---
css:
  - "/act/css/bootstrap.min.css"
  - "/act/css/vr404.min.css"
js:
  - "/act/js/particles.min.js"
---
<!doctype html>
<html lang="es" itemscope itemtype="http://schema.org/LocalBusiness">
{% include head.html %}
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">Estas usando un navegador <strong>desactualizado</strong>. Por favor <a href="http://browsehappy.com/">descarga </a> uno mas moderno esto mejora tu experiencia en este sitio.</p>
        <![endif]-->
        {% include nav.html %}
        {{ content }}
        {% include footer.html %}
    </body>
</html>
