---
css:
  - "/css/bootstrap.min.css"
  - "/act/css/font-awesome.min.css"
  - "/act/css/animate.min.css"
  - "/css/vr1.css"
googlefonts:
  - "Arima+Madurai|Indie+Flower"
js:
  - "/act/js/jquery.min.js"
  - "/act/js/tether.min.js"
  - "/js/bootstrap.min.js"
  - "/act/js/jquery.easing.min.js"
  - "/js/jvr1.js"
---
<!doctype html>
<html lang="es" itemscope itemtype="http://schema.org/LocalBusiness">
  {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar">
      <!--[if lt IE 8]>
        <p class="browserupgrade">Estas usando un navegador <strong>desactualizado</strong>. Por favor <a href="http://browsehappy.com/">descarga </a> uno más moderno esto mejora tu experiencia en este sitio.</p>
      <![endif]-->
      
      
  <a href="#proyectos" class="sr-only sr-only-focusable">Contenido Principal..</a>
      {% include navbar.html %}
      {{ content }}
      {% include footer.html %}
      {% include scripts.html %}
    </body>
</html>
