---
css:
  - "/act/css/bootstrap.min.css"
  - "/act/css/fa/css/font-awesome.min.css"
  - "/css/vr1.css"
googlefonts:
  - "Lora:400,700,400italic,700italic"
  - "Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
js:
  - "/act/js/jquery.min.js"
  - "/act/js/tether.min.js"
  - "/act/js/bootstrap.min.js"
  - "/act/js/particles.min.js"
---
<!doctype html>
<html lang="es" itemscope itemtype="http://schema.org/LocalBusiness">
{% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-custom">
        <!--[if lt IE 8]>
            <p class="browserupgrade">Estas usando un navegador <strong>desactualizado</strong>. Por favor <a href="http://browsehappy.com/">descarga </a> uno mas moderno esto mejora tu experiencia en este sitio.</p>
        <![endif]-->
        {% include nav.html %}
        <!-- {{ content }} -->
        <!-- {% include footer.html %} -->
        {% include scripts.html %}
    </body>
</html>
